<!-- HOME PAGE -->
<section id="home_page">
  <div class="initials_image">
    <%= image_tag "initials.png", alt: "initials", width: 120 %>
  </div>

  <div class="name_surname">
    <%= image_tag "name.png", alt: "name", width: 400 %>
  </div>

  <div class="contact_button">
    For hire
  </div>
</section>

<!-- RESUME -->
<section id="resume_page">
  <div class="page_title">
    Résumé
  </div>

  <div class="about_me">
    Vitalijus is an experienced marketer with well developed skills and experience in digital marketing, digital project management and have worked in the industry since 2010. Vitalijus also a skilled web desiner who has supported many different projects over the years. He is determined and enthusiastic, have developed good planning & organisational skills, & confident working independently or as part of a team.
  </div>

  <div class="resume">
    <ul>
      <li class="resume_title">Work experience</li>
      <li class="resume_content">
        <div class="position_name">
          Digital Marketing Executive
        </div>

        <div class="company_name">
          AviaTrading
        </div>

        <div class="work_description">
          Vitalijus is responsible the for planning, development and execution of a range of digital marketing activities, to agreed budgets and timescales, reporting on outcomes and effectiveness. As well developing campaigns to drive site traffic, helping to improve site content and structure to provide better architecture and usability, whilst improving search engine optimisation.
        </div>
      </li>

      <li class="resume_dates">
        2014 - present<br>
        Munich, Germany
      </li>
    </ul>

    <ul>
      <li class="resume_title"></li>
      <li class="resume_content">
        <div class="position_name">
          Digital Project Assistant
        </div>

        <div class="company_name">
          Bergx2 GmbH
        </div>

        <div class="work_description">
          At Bergx2, Vitalijus was responsible for the acceleration of digital projects, both on the organisation’s own web portals and those of new venture companies. He also worked with web development teams to ensure project plan is properly implemented.
        </div>
      </li>

      <li class="resume_dates">
        Oct. 2014 - Feb. 2015<br>
        Munich, Germany
      </li>
    </ul>

    <ul>
      <li class="resume_title"></li>
      <li class="resume_content">
        <div class="position_name">
          Project Management Office
        </div>

        <div class="company_name">
          Allianz AMOS
        </div>

        <div class="work_description">
          Key responsibilities consisted of developing and maintaining the GloBI (Global Business Intelligence Platform) web page with the WIKI Content Management System, supporting the layout development with HTML and CSS, as well as facilitating managers and the project management office in GloBI maintenance. 
        </div>
      </li>

      <li class="resume_dates">
        2012 - 2013<br>
        Munich, Germany
      </li>
    </ul>

    <ul>
      <li class="resume_title"></li>
      <li class="resume_content">
        <div class="position_name">
          EVS Volunteer
        </div>

        <div class="company_name">
          LISEL asbl
        </div>

        <div class="work_description">
          EVS project's aim was to encourage in self-initiative, entrepreneurship and turn ideas into actions. During EVS Vitalijus have developed several projects:<br>
          - Promoted LISEL asbl and raised level of awareness through various media actions.<br>
          - Project's website development and maintenance.<br>
          - Participation in short movie festivals.<br><br>
          
          All this actions takes creativity, innovation, risk-taking, as well as the ability to plan and manage projects in order to achieve objectives.
        </div>
      </li>

      <li class="resume_dates">
        2010 - 2011<br>
        Luxemburg city, Luxemburg
      </li>
    </ul>

    <ul>
      <li class="resume_title">Education</li>
      <li class="resume_content">
        <div class="position_name">
          Technical University Munich
        </div>

        <div class="company_name">
          TUM School of Management, Master in Consumer Affairs
        </div>

        <div class="work_description">
          Advanced studies in digital marketing, innovation management and technologies gave a
        unique view in developing consumer related ideas and concepts.
        </div>
      </li>
      <li class="resume_dates">
        2012 - 2014<br>
        Munich, Germany
      </li>
    </ul>

    <ul>
      <li class="resume_title"></li>
      <li class="resume_content">
        <div class="position_name">
          Lithuanian University of Educational Science
        </div>

        <div class="company_name">
          Bachelor in Sociology
        </div>
        
        <div class="work_description">
          Studies in empirical investigation have encouraged me to seek professional future in the area of market research.
        </div>
      </li>
      <li class="resume_dates">
        2006 - 2010<br>
        Vilnius, Lithuania
      </li>
    </ul>
  </div>
</section>

<!-- FOR HIRE -->
<section id="for_hire">
  <div id="for_hire_wrapper">
    <div class="for_hire_title">
      I will show you how to open doors for consistently profitable traffic
    </div>

    <a href="#">
      <div class="contact_now_button">
        Contact now
      </div>
    </a>
  </div>
</section>

<!-- SKILLS PAGE -->
<section id="skills_page">
  <div class="page_title">
    Skills & Tools
  </div>

    <div class="graph_wrapper">
      <ul class="graph_name">
        <li>Marketing</li>
        <li>Soft</li>
      </ul>

      <div class="skills">
        <div class="graphs">
          <ul>
            <li>
              <div class="graph_skills web_design">
                Web (responsive) design, UI/UX
              </div>
            </li>

            <li>
              <div class="graph_skills digital_marketing">
                SEO, SMM, PPC, email
              </div>
            </li>

            <li>
              <div class="graph_skills analytics">
                 Web analytics
              </div>
            </li>

            <li>
              <div class="graph_skills conversion">
                 Conversion optimization, A/B testing
              </div>
            </li>
          </ul>
        </div>

        <div class="dots">
          <ul>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Begginer <!-- I'm just starting to explore this skill -->
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Familiar <!-- You have basic knowledge of this skill, but plenty of room to learn more -->
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Proficient <!-- You are comfortable using this skill in routine ways. -->
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Expert <!-- You are aheadof the pack, and are fluent in this skill and its latest developments.-->
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Master<!-- You are a pro, and know this skill inside and out -->
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="tools">
        <div class="graphs">
          <ul>
            <li>
              <div class="graph_tool html_css">
                HTML & CSS
              </div>
            </li>

            <li>
              <div class="graph_tool js">
                JS, Jquery, AJAX
              </div>
            </li>

            <li>
              <div class="graph_tool rails">
                Ruby on Rails (Ruby)
              </div>
            </li>

            <li>
              <div class="graph_tool image_editor">
                Phtoshop, Illustrator
              </div>
            </li>
          </ul>
        </div>

        <div class="dots">
          <ul>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Begginer
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Familiar
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Proficient
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Expert
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Master
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="graph_wrapper">
      <ul class="graph_name">
        <li>Languages</li>
        <li>API</li>
      </ul>

      <div class="languages">
        <div class="graphs">
          <ul>
            <li>
              <div class="graph_language lithuanian">
                Lithuanian
              </div>
            </li>

            <li>
              <div class="graph_language russian">
                Russian
              </div>
            </li>

            <li>
              <div class="graph_language english">
                English
              </div>
            </li>

            <li>
              <div class="graph_language german">
                German
              </div>
            </li>
          </ul>
        </div>

        <div class="dots">
          <ul>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Begginer <!-- I'm just starting to explore this skill -->
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Familiar <!-- You have basic knowledge of this skill, but plenty of room to learn more -->
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Proficient <!-- You are comfortable using this skill in routine ways. -->
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Expert <!-- You are aheadof the pack, and are fluent in this skill and its latest developments.-->
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Master<!-- You are a pro, and know this skill inside and out -->
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="api">
        <div class="graphs">
          <ul>
            <li>
              <div class="graph_api facebook">
                Facebook
              </div>
            </li>

            <li>
              <div class="graph_api twitter">
                Twitter
              </div>
            </li>

            <li>
              <div class="graph_api stripe">
                Stripe
              </div>
            </li>

            <li>
              <div class="graph_api cloudinary">
                Cloudinary
              </div>
            </li>
          </ul>
        </div>

        <div class="dots">
          <ul>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Begginer <!-- I'm just starting to explore this skill -->
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Familiar <!-- You have basic knowledge of this skill, but plenty of room to learn more -->
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Proficient <!-- You are comfortable using this skill in routine ways. -->
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Expert <!-- You are aheadof the pack, and are fluent in this skill and its latest developments.-->
                </div>
              </div>
            </li>
            <li>
              <div class="dot">
                <div class="dot_name">
                  Master<!-- You are a pro, and know this skill inside and out -->
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- WHY ME PAGE -->
<section id="why_me_page">
  <div class="page_title">
    Why me?
  </div>

  <div class="why_me_reasons">
    <ul>
      <li>
        <span class="reasons_title">Vision.</span>
        I see digital design as an art and a driver of customer delight. I'm the catalyst that mixes ideas, pushes concepts and finds the best way to energize brands through sophisticated visual design.
      </li>

      <li>
        <span class="reasons_title">Problem-Solver.</span>
        I don't believe in design without purpose. I see digital design as a science and believe that design plays a role in solving problems that improve the consumer experience.
      </li>

      <li>
        <span class="reasons_title">Strategic.</span>
        I think like a business owner and identify opportunities to grow the business, the brand, whether indirectly or directly related to design.
      </li>

      <li>
        <span class="reasons_title">Hands-On.</span>
        I enjoy rolling up my sleeves and getting into the nitty gritty of design, yet my goal is ultimately to be a 'thought-leader' and provide more than ideas but inspiration.
      </li>

      <li>
        <span class="reasons_title">Collaborative.</span>
        I have high regards for team building, I work exceptionally well across all key functional areas including sales, web development, film production and customer service.
      </li>

      <li>
        <span class="reasons_title">Ambitious.</span>
        I'm always looking for opportunities and aren’t afraid to take risks for the sake of making things better.
      </li>
    </ul>
  </div>

  <!-- FOR HIRE -->
<section id="for_hire">
  <div id="for_hire_wrapper">
    <div class="for_hire_title">
      Are you interested in boosting your revenue?
    </div>

    <a href="#">
      <div class="contact_now_button">
        Contact now
      </div>
    </a>
  </div>
</section>

  <!-- RECOMMEDATIONS -->
  <div id="recommendations">
    <div class="page_title">
      Recommendations
    </div>

    <div class="referral">
      <ul>
        <li>
          "I see digital design as an art and a driver of customer delight. I'm the catalyst that mixes ideas, pushes concepts and finds the best way to energize brands through sophisticated visual design."<br>
          <span class="rec_person"><a href="https://www.linkedin.com/pub/agata-przygoda/2/626/6aa" target="_blank">Agata Przygoda</a></span>
          <span class="position">Executive Assistant - Group COO Office at Allianz Group</span>
        </li>

        <li>
          "I don't believe in design without purpose. I see digital design as a science and believe that design plays a role in solving problems that improve the consumer experience."<br>
          <span class="rec_person"><a href="https://www.linkedin.com/in/istokistok" target="_blank">Istok Sernc</a></span>
          <span class="position">Managing Director - Bergx2 GmbH</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- CONTACT PAGE -->
<section id="contact_page">
  <div class="page_title contact">
    Contact me
  </div>

  <ul class="contact_container">
    <li class="contact_me">
      Interested in working together or just want to say hello?<br>
      Drop me a line.<br><br>

      <ul class="contact_details">
        <li>
          <%= image_tag "pin.png", alt: "location", width: 20 %>
          London, United Kingdom
        </li>

        <li>
          <%= image_tag "phone.png", alt: "phone number", width: 20 %>
          +44 7435 019669
        </li>

        <li>
          <%= image_tag "mail.png", alt: "email", width: 20 %>
          hello@vdesukas.lt
        </li>
      </ul>
    </li>

    <li class="contact_form">
      Contact form
    </li>
  </ul>
</section>

<%= form_for Profile.new do |f| %>
  <%= f.text_field :ip %>

  <%= f.submit "Send" %>
<% end %>