<!DOCTYPE html>
<html>
<head>
  <title>Vitalijus Desukas</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<!-- GOOGLE FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|PT+Sans:400,700|Megrim|Lato:400,700,900' rel='stylesheet' type='text/css'>
<!-- -->

<!-- FAVICON -->
  	<%= favicon_link_tag 'favicon.ico' %>

<!-- GOOGLE ANALYTICS -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-68976352-1', 'auto');
	  ga('send', 'pageview');

	</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>
<div id="page_progress"></div>
	<header>
	    <div id="bottom_nav">
	      <ul>
	        <li><a href="#home_page">Home</a></li>
	        <li><a href="#resume_page">Résumé</a></li>
	        <li><a href="#skills_page">Abilities</a></li>
	        <li><a href="#why_me_page">Why me?</a></li>
	        <li><a href="#contact_page">Contact</a></li>
	      </ul>
	    </div>
	</header>

<%= yield %>

<div id="footer">
	&copy;<%= Time.now.year %> - Handcrafted by Vitalijus Desukas<br>
	<%= image_tag "signature.png", alt: "signature", width: 250 %>
</div>
</body>
	<script src="assets/nanobar-master/nanobar.min.js"></script>
	<script>
		var options = {
		    bg: '#fdfdfd',
		    // leave target blank for global nanobar
		    target: null,
		    //target: document.getElementById('myDivId'),
		    // id for new nanobar
		    id: 'page_progress'
		};

		var nanobar = new Nanobar( options );

		//move bar
		nanobar.go(30); // size bar 30%

		// Finish progress bar
		nanobar.go(100);
	</script>
</html>
